---
import PostList from '../components/Post.vue';

const post = {
  title: 'My First Post',
  content: '<p>This is my first post content.</p>',
};
---

<PostList title={post.title} content={post.content} />