---
export interface BlogPostProps {
  frontmatter: {
    title: string;
    description: string;
    date: string;
  };
  url: string;
}

const { frontmatter, url } = Astro.props;
---
<article>
  <h2><a href={url}>{frontmatter.title}</a></h2>
  <p>{frontmatter.description}</p>
  <time>{new Date(frontmatter.date).toLocaleDateString()}</time>
</article>
